 body{
 	background-color: #f8f8f8;
 }

p{
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 400; 
	font-style: normal;
	color:#646464;
	font-size: 16px;
	text-align: left;
	line-height: 20px;
}

h2{
	text-align:right;
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 400;
	font-size: 2em; 
	font-style: normal;
	color:#ffd88e;
}

h3{
	text-align:center;
	font-family: 'Gotham A', 'Gotham B';
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em; 
	font-style: normal;
	color:#646464;
}

.logo{
	width:170px;
	margin-top: 30px;
}

#header{
	height:42em;
	width:100%;
	background: url("/images/background.jpg") 55% 0 repeat-x;
	background-size:cover;
	background-position: center;
}

.feature h2{
	padding-top: 18%;
}

#nav{
	height: 100px;
	border-bottom:.5px solid #818285;
}
.nav {
	margin-top: 45px;
	float:right;
}

.nav li{
	list-style: none;
	display:inline-block;
	float:left;
	margin-left:60px;

}

.nav li a{
	font-family: 'Gotham A', 'Gotham B';
	text-transform: uppercase;
	color: #8c8c8c;
	text-decoration: none;
	font-weight: 600; 
	font-size: .85em;
	font-style: normal;
	font-weight:normal;
	letter-spacing: 1px;
}
.divider{
	border-top: 10px solid #646464;
}

#about{
	margin-top: 60px;
}

.discover{
	background: url("/images/discover.jpg") 50% 0; 
	background-size: 100%;
	height:300px;
}

.discover h2{
	text-align: center;
	padding-top: 220px;
}