 body{
 	background-color: black;
 }

p{
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 400; 
	font-style: normal;
	color:white;
	font-size: 12px;
}

h2{
	text-align:right;
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 400;
	font-size: 2em; 
	font-style: normal;
	color:#ffd88e;
}
.nav li{
	list-style: none;
	display:inline-block;
	float:left;
	text-decoration: none;
	color:white;
}

.logo{
	width:225px;
	margin-top: 30px;
}

#header{
	height: 130px;
	border-bottom:.5px solid #818285;
}

.hero{
	height:25em;
	width:100%;
	background: url("images/background.jpg") 55% 0 repeat-x;
	background-size:cover;
	background-position: center;
}
.nav {
	margin-top: 60px;
	float:right;
}
.nav li{
	margin-left:20px;
	display:inline-block;
}

.nav li a{
	font-family: 'Gotham A', 'Gotham B';
	text-transform: uppercase;
	color:#646464;
	text-decoration: none;
	font-weight: 500; 
	font-size: .85em;
	font-style: normal;
	font-weight:normal;
	letter-spacing: 1px;
}